@font-face{
    font-family: "ArgentumSans-Regular";
    src: url('/fonts/ArgentumSans-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face{
    font-family:"ArgentumSans-Bold";
    src: url('/fonts/ArgentumSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face{
    font-family:'ArgentumSans-Black';
    src: url('/fonts/ArgentumSans-Black.ttf') format('truetype');
    font-weight: normal;
}

@font-face{
    font-family:'ArgentumSans-Light';
    src: url('/fonts/ArgentumSans-Light.ttf') format('truetype');
    font-weight:lighter;
}

@font-face{
    font-family:'ArgentumSans-Medium';
    src: url('/fonts/ArgentumSans-Medium.ttf') format('truetype');
    font-weight: normal;
}

