@import './colors';

button{
    background: $button-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 16px 40px;
    border-radius: 50px;
    border: none;
    display: flex;
    color: rgba(24, 24, 24, 1);
    font-family: 'ArgentumSans-Medium';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    align-self: center;
}
button:disabled{
    background: $button-disable;
    &:active{
        background: $button-disable !important;
    }
}
button:active{
    background: rgb(228, 173, 20);
}
