@import './colors';

.input-text{
    min-width: 221px;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0px;
    span{
        position:relative;
        width: fit-content;
        bottom: 58px;
        left:8px;
        background-color: $background-text;
    }
    &-content{
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        border-style: solid;
        border-width: 2px;
        border-color: $border-color;
        // background-color: red;
        
        input{
            margin-inline: 13px;
            margin-block: 15px;
            border: none;
            outline: none;
        }
    }
}

