// general colors
$gray-color: rgba(86, 86, 86, 1);
$red-color: rgb(162, 0, 0);

//body color
$background-body: #E5E5E5;

//spam color
$spam-color: rgba(105, 105, 105, 1);

//button colors
$button-color : rgba(255, 190, 18, 1);
$button-disable: rgba(207, 207, 207, 1);
$button-active: rgb(228, 173, 20);

//calendar color 
$calendar-background-color: rgba(255, 255, 255, 1);

//select color
$select-color: rgba(69, 99, 230, 1);

//input text/ input date colors
$background-text: rgba(255, 255, 255, 1);
$border-color:rgba(177, 177, 177, 1);

//header colors
$header-background: linear-gradient(180deg, #02ADF1 -2.37%, #4562E6 124.84%, #4563E6 124.84%);

//modal colors
$modal-wall-background-color: rgba(0, 0, 0, 0.4);
$modal-background-color: rgba(255, 255, 255, 1);

// table colors
$table-background-color: rgba(69, 99, 230, 1);
$table-border-color: rgba(196, 196, 196, 1);
$table-text-color: rgba(255, 255, 255, 1);