@import './colors';



.modal {
    // display: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $modal-wall-background-color;
}


.modal-body {
    border-radius: 10px;
    position: relative;
    background-color: $modal-background-color;
    width: fit-content;
    max-width: 526px;
    height: fit-content;
    padding-inline: 23.5px;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 250px;
    @include md{
        width: 80%;
    }
    
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.modal-title {
    padding-inline: 32.5px;
    margin-bottom: 18px;
}

.modal-subtitle {
    // padding-bottom: 22.5px;
    margin-bottom: 38.5px;

}

.modal-content {
    padding-inline: 11.5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@keyframes modalIn {
    0%{
        transform: translateY(20px);
        opacity: 0.1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes modalOut {
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(20px);
        opacity: 0.1;
    }
}